<!-- <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css' ) }}"> -->

<div id="cover">
    <form method="POST" action="">
      <div class="tb">
        <div class="td"><input name="text" type="text" placeholder="{{ query }}" required></div>
        <!-- <div class="td" id="s-cover">
          <button type="submit">
            <div id="s-circle"></div>
            <span></span>
          </button> 
        </div>
      </div> -->
      <h1>Zoekresultaat voor {{ query }}:</h1>
      {%for score in scores%}
        <h2> rank {{loop.index0 + 1}} {{ score[0] }} relevantie: {{score[1]}} </h2>
        <h3> content: {{ contents[loop.index0] }} </h3>
      {%endfor%}
    </form>
  </div>